@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,300;0,400;0,700;1,400;1,500&display=swap');

.category-image {
    width: 200px;
    height: 200px;
    max-width: 220px;
    max-height: 220px;
    align-self: center;
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;
}

.category-tile {
    border-radius: 21px;
    margin: 1em;    
    align-items: center;
    text-align: center;
    color:#E53F26;
    border:none;
    background-color: rgb(254, 247, 244);
}

.category-tile:hover {
    transform: scale(1.1);
}

.info-inside-category-tile {
    list-style: none;
    /* padding: 10px;
    /* margin-top: 5px; */
    margin-bottom: 10px; 
    line-break: loose;
    font-family: "Lexend Deca", serif;
    font-size: 16px;
}

/* li {
    padding: 5px;
} */

.title-category {
    padding: 10px;
}

/* .category-tile :hover {
    transform: scale(1.1);
} */

#cat-ind{
    margin: 1em;
    border-radius: 18px;
    background: #FFF6F3;
    padding: 20px; 
    width: 211px;
    height: 322px; 
} 

h3 {
    font-family: "PP Editorial New", serif;
    font-weight: bold;
    font-size: 26px;
    font-weight: 500;
    color: #E53F26;
    margin-top: 10px;
    margin-bottom: 10px;
}