.foodimage {
    width: 200px;
    height: 200px;
    align-self: center;
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;
}

.foodtile {
    margin: 28px;
    align-items: center;
    /* text-align: center; */
    color: #e53f19;
    border:none;
    /* width: 220px; */
}

.food-info {
    background-color: rgb(254, 247, 244);
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;
    border: none;
    color: #e53f19;
    font-family: "Lexend Deca", serif;
    font-size: 16px;
}

.plus {
    border: 1px solid white;
    background-color: transparent; 
    color: white;
    height: 2.5em;
    border-radius: 2px;
    /* padding: 0.5em; */
    border-left: #e53f19;
    width: 20px;

}
.minus {
    border: 1px solid white; 
    background-color: transparent; 
    color: white;
    height: 2.5em;
    border-radius: 2px;
    /* padding: 0.5em; */
    border-right: #e53f19;
    width: 20px;

}

.food-qty {
    border: 1px solid white; 
    background-color: transparent; 
    color: white;
    height: 2.5em;
    width: 20px;
}

.plus:hover {
    color:#e53f19;
    background-color: white;
}

.minus:hover {
    color: #e53f19;
    background-color: white;
}


.info-inside-food-tile {
    list-style: none;
    /* display: block;
    flex-direction: column-reverse; */
    /* padding: 10px;
    margin-top: 5px; */
    min-width: 200px; /*have to make all of these responsive (use percentages maybe?)*/
    min-height: 250px; /*these are incase the img isn't present*/
}

.qty-div {
    display: flex;
    background-color: #e53f19;
    height: 1em;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    width: 200px;
    height: 50px;
}

.add-to-cart {
    border: none;
    background-color: #e53f19; 
    color: white;
    font-family: "Lexend Deca", serif;

}

.food-category {
    font-size: 12px;
    color: rgb(184, 184, 184);
}

/* button:hover {
    color:#e53f19;
    background-color: white;
} */